(
    title: "Studium",
    id: 0,
    uri: "ilias.php?baseClass=ilPersonalDesktopGUI&cmd=jumpToSelectedItems",
    sync: Some((
        path: "Studium",
        version: 0,
    )),
    breed: Folder,
    children: Some([]),
    parent: 0,
)